@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  height: 100%;
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

/* .swiper-slide {
  margin-right: 5px !important;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  display: none !important;
}

.mySwiperContact .swiper-slide {
  width: 200px !important;
  border-radius: 16px;
} */

/* start partner */
.splide__slide {
  width: 200px !important;
  border-radius: 16px;
}

.splide__pagination {
  transform: translateY(50px) !important;
}

  .splide__arrow--prev {
    left: -5rem !important;
  }

  .splide__arrow--next {
    right: -5rem !important;
  }
/* end partner */

.slick-next {
  color: rgb(255, 0, 0) !important;
}

.slick-prev {
  color: rgb(255, 0, 0) !important;
}

.slick-dots-bottom li {
  background-color: black !important;
}

.ant-float-btn-body {
  background-color: #fe9614 !important;
}

@media screen and (max-width: 768px) {
  .splide__slide {
    width: 150px !important;
  }

  .splide__arrow--prev {
    left: -2rem !important;
  }

  .splide__arrow--next {
    right: -2rem !important;
  }
}
