.headerMenu {
  width: 100% !important;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 5px 0;

  .ant-menu-title-content {
    font-weight: bold;
    font-size: 16px;
    color: #1c5b41;
  }

  .ant-menu-submenu-active::after {
    border-bottom: 2px solid #1c5b41 !important;
  }
}
