.headerMenu {
  width: 100% !important;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;

  .ant-menu-title-content {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
  }

  .ant-menu-item-selected {
    background-color: antiquewhite !important;
    border-radius: 20px !important;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
  }

  .ant-menu-submenu-selected {
    background-color: antiquewhite !important;
    border-radius: 20px !important;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
  }

  .ant-menu-item-selected .ant-menu-title-content,
  .ant-menu-submenu-selected .ant-menu-title-content {
    color: #05310e !important;
  }

  .ant-menu-item-selected .ant-menu-title-content {
    color: #05310e !important;
  }
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}
